.list {
  list-style: circle;
}
.link {
  text-decoration: none;
  color: grey;
}
.link:visited {
  color: grey;
}
.link:hover {
  color: black;
}
.item {
  margin-bottom: 10px;
  font-size: 20px;
}
.form {
  padding-top: 10px;
}
.button {
  padding: 10px;
  border: none;
  border-radius: 25%;
}
.button:hover {
  background-color: aqua;
}
.input {
  border: 1px solid black;
  padding: 5px;
  margin-left: 10px;
}
.input:hover {
  border: 1px solid black;
  border-color: aqua;
}
